<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/css/EstiloIndex2.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/108daf0d0a.js" crossorigin="anonymous"></script>
	<title>Panel</title>
</head>
<body>

	<nav th:insert="../fragments/components.html::menu"></nav>

	<div class="container page-margins">

		<div class="py-1 my-5 bg-personalizado border-dark card text-center  ">
			<h2 class="text-center"><span class="small">Perfil de '<span th:text="${user.name}"></span></span>'</h2>
		</div>

        <div class="row bg-personalizado">

            <div class="col-12">
                <form action="/user/profile/change-password"  class="row px-4 pt-3"  method="post">
                    <div class="mb-3 col-12">
                        <h5>Cambiar contraseña</h5>
                    </div>
                    <div class="mb-3 col-12">
                        <input class="form-control" type="password" name="currentPassword" placeholder="Contraseña actual">
                    </div>
                    <div class="mb-3 col-12 col-md-6">
                        <input class="form-control" type="password" name="newPassword" placeholder="Nueva contraseña">
                    </div>
                    <div class="mb-3 col-12 col-md-6">
                        <input class="form-control" type="password" name="newPassword2" placeholder="Repite tu nueva contraseña">
                    </div>
                    <div class="mb-3 col-12 text-end">
                        <button type="submit" class="btn btn-success">Cambiar</button>
                    </div>
                </form>
            </div>
            
            <div class="col-12 text-center my-4">
                <button  class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteAccountModal">Eliminar mi cuenta</button>
            </div>

        </div>

	</div>

	<div class="separator"></div>

	<footer class="fixed-bottom" th:insert="../fragments/components.html::pie"></footer>

    <!-- Delete Account Modal-->
	<div class="modal fade" tabindex="-1" id="deleteAccountModal">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title">Eliminar mi cuenta</h5>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body d-flex flex-column align-items-center justify-content-center" style="min-height: 200px;">
			
                <svg xmlns="http://www.w3.org/2000/svg" style="color: red;" width="100" height="100" fill="currentColor" class="bi bi-exclamation-diamond" viewBox="0 0 16 16">
                    <path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"/>
                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                </svg>

                <p class="small pt-4 text-center">¿Estás seguro que deseas eliminar tu cuenta permanentemente?</p>
			  
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <a href="/user/profile/delete-account"  class="btn btn-danger text-light" >Eliminar Cuenta</a>
			</div>
		  </div>
		</div>
	</div>

	<!-- Modal de Error -->
	<div class="modal fade" tabindex="-1" id="ErrorModal">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title">Ups..</h5>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body d-flex flex-column align-items-center justify-content-center" style="min-height: 200px;">
			
				<svg xmlns="http://www.w3.org/2000/svg" style="color: red;" width="100" height="100" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
				  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
				  <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
				</svg>
				
				<div class="my-4">
					<p class="fw-bolder" id="ErrorModalMesagge"> aca se muestra un mensaje de error</p>
				</div>
			  
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
	crossorigin="anonymous"></script>
	<script type="module" src="/js/errorHandler.js"></script>
</body>
</html>